doctype html
html(lang='zh-cn')
    // i18n
    +_('Blog', '博客', 'zh_cn')
    +_('Albums', '相册', 'zh_cn')
    +_('Categories', '分类', 'zh_cn')
    +_('Archive', '归档', 'zh_cn')
    +_('Links', '链接', 'zh_cn')
    +_('About', '关于', 'zh_cn')
    +_('Recent', '最新文章', 'zh_cn')
    +_('Tags', '标签', 'zh_cn')
    +_('Notes', '随笔', 'zh_cn')
    head
        +mobile_meta()
        meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
        meta(name="keywords", content=site.configs.keywords.escaped)
        meta(name="description", content=site.raw_content.escaped)
        block title
            title= request.args.s or post.title or tags.join('+') or category.title or site.title
        +get_resource("blog_basic.css")
        +load("fonts")
        +load('pure#0.5.0')
        +load('/service/static_3rd/staticfile/ajax/libs/pure/0.5.0/grids-responsive-min.css')
        +load('/template/img/style_v2.css')
        +load("jquery")
        //if lt IE 9
        //script(src='http://www.csszengarden.com/script/html5shiv.js')
        //
    //借鉴于禅意花园，顺便吐槽一下，代码真乱
    //http://www.csszengarden.com/tr/zh-cn/
body#css-zen-garden
    .page-wrapper
        section#zen-intro.intro
            header(role='banner')
                h1.site
                    canvas#canvas(width='124', height='124')

                    =site.title
                h2.site
                    abbr(title=site.raw_content.escaped)
                    site.raw_content.escaped
        .g-nav-user.f-usn.g-hd
            .g-in
                .m-nav-user.f-cb
                    .g-nav
                        .m-nav
                            ul.f-cb
                                li.link
                                    +a_with_selected('/', _('Blog'))
                                li.link
                                    +a_with_selected('/notes', _('Notes'))
                                li.link
                                    +a_with_selected('/archive', _('Archive'))
                                li.link
                                    a(href='/album')= _('Albums')
                    .g-user
                        .m-user
                            ul.f-cb
                                li.search.z-hover
                                    span.search-keyword
                                        form#search
                                            input#search_value.text(placeholder="Search",type="text",value=request.args.s, onkeyup="if (event.keyCode == 13) search();")
            #contentleft.preamble(role='article')
                block content


        aside.sidebar(role='complementary')
            .wrapper

                #design-selection.design-selection
                    h3.select 选择一项设计
                    nav(role='navigation')
                        ul
                            for category in  get_data(type='folder', level=[1,2], min_posts_count=1)
                                li
                                    a(href="/category/{{category.path}}", title=category.title)
                                        = category.title


                #design-archives.design-archives
                #zen-resources.zen-resources
                    h3.resources 链接：
                    ul
                        li(style="padding-left:10px")
                            a(href="http://29793.blog.163.com/", title="我的网易博客",target="_blank")我的网易博客


    div.pjax_loading
    script(src="/template/js/jquery.pjax.js")
    script(src="/template/js/app.1.js")
script
    //logo
         var canvas = document.querySelector('#canvas');
         var ctx = canvas.getContext('2d');
         var img = new Image();
         img.onload = function () {
             fnDrawImg(this)
         }
         img.src = '/template/img/enso.svg';
         var iScale = 1,
                 step = 1,
                 dx = 0,
                 dy = 0,
                 num = 0,
                 numx = 60,
                 numy = 40;

         function fnDrawImg(obj) {
             num++;
             ctx.save();
             ctx.clearRect(0, 0, canvas.width, canvas.height);
             if (iScale == 0) {
                 step = 1;
             }
             if (iScale == 62) {
                 step = -1;
             }
             iScale = iScale + step;
             ctx.translate(62, 62);
             ctx.scale(iScale * 1 / 62, iScale * 1 / 62);
             ctx.rotate(num * Math.PI / 180);
             ctx.translate(-62, -62);
             ctx.drawImage(obj, 0, 0, 124, 124);
             ctx.restore();
             if (num > 700) {
                 ctx.clearRect(0, 0, canvas.width, canvas.height);
                 clearInterval(timerfnDrawImg);
                 var hitCanvas = document.createElement('canvas');
                 document.body.appendChild(hitCanvas);
                 hitCanvas.id = 'hitcanvas';
                 hitCanvas.width = window.innerWidth || document.documentElement.clientWidth || document.body.offsetWidth;
                 hitCanvas.height = window.innerHeight || document.documentElement.clientHeight || document.body.offsetHeight;
                 timerHitDraw = setInterval(function () {
                     hitDrow(img, hitCanvas)
                 }, 20)

                 hitCanvas.onmousedown = function () {
                     clearInterval(timerHitDraw);
                     num = 0;
                     document.body.removeChild(hitcanvas);
                     timerfnDrawImg = setInterval(function () {
                         fnDrawImg(obj)
                     }, 20)

                 }
             }


         }

         function hitDrow(obj, hitCanvas) {
             var ctx = hitCanvas.getContext('2d')
             ctx.clearRect(0, 0, hitCanvas.width, hitCanvas.height);
             ctx.beginPath()
             ctx.drawImage(obj, dx, dy, 124, 124);
             ctx.fill();
             if (dy + 62 + numx > hitCanvas.height || dy + 62 + numx < 0) {
                 numx = -numx;
             }
             if (dx + 62 + numy > hitCanvas.width || dx + 62 + numy < 0) {
                 numy = -numy;
             }
             dy = dy + numx;
             dx = dx + numy;

         }
         timerfnDrawImg = setInterval(function () {
             fnDrawImg(img)
         }, 20)




         //- footer
         //-   a.zen-validate-html(href='http://validator.w3.org/check/referer', title='检查本站的HTML有效性') HTML
         //-   a.zen-validate-css(href='http://jigsaw.w3.org/css-validator/check/referer', title='检查本站的CSS有效性') CSS
         //-   a.zen-license(href='http://creativecommons.org/licenses/by-nc-sa/3.0/', title='查看本站的知识共享许可：署名-非商用-相同方式共享') CC
         //-   a.zen-accessibility(href='http://mezzoblue.com/zengarden/faq/#aaa', title='阅读本站可访问性说明') A11y
         //-   a.zen-github(href='https://github.com/mezzoblue/csszengarden.com', title='在 Github 上 Fork 本站') GH

  